body {
    background-color: rgba(240, 130, 161, 0.809);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1:hover {
    color: white;
}
h1 {
    text-align: center;
}
main p {
    text-align: center;
    font-size: 10px;
    color: white
}
nav ol {
    width: 20%;
    margin: 15px auto;
}
img {
    width: 6%;
    display: block;
    margin: 0 auto;
}
p {
    text-align: center;
    color: white;
    font-size: 25px;
}
footer {
    text-align: center;
    font-size: 12px;
}
/* * {
    border: 2px solid blue;
} */